head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
	meta(charset=" utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title ことむにの物置 | #{title}
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(property="og:title" content="ことむにの物置 | "+ title)
	meta(property="og:type" content="website")
	meta(property="og:url" content="https://kotmw0701.github.io")
	meta(property="og:image" content="https://kotmw0701.github.io/images/pso20181212_223415_030.png")
	meta(property="og:image:alt" content="アイコン")
	meta(property="og:site_name" content="ことむにの物置")
	meta(property="og:description" content=description)
	meta(property="og:locale" content="ja_JP")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@rabikotmw")
	meta(name="twitter:image" content="https://kotmw0701.github.io/images/pso20181212_223415_030.png")
	meta(name="twitter:title" content="ことむにの物置 | "+title)
	meta(name="twitter:description" content=description)
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
	link(rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css")
	link(rel="stylesheet" href="stylesheets/main.css")
	// このページのみのStyleSheet
	//
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="script/main.js")
