.container
	h1.site_name: a(href=root+"index.html") ことむにの物置
	#nav_toggle
		div
			span
			span
			span
	nav
		ul
			li
				if category == "Home"
					p Home
				else 
					a(href= root +"index.html", rel="prefetch") Home
			li: a(href= root +"products/", rel="prefetch") Products
			li
				if category == "Activity"
					p Activity
				else
					a(href= root +"activity.html", rel="prefetch") Activity
			li
				if category == "Accounts"
					p Accounts
				else
					a(href= root +"accounts.html", rel="prefetch") Accounts
			li
				if category == "Contact"
					p Contact
				else
					a(href= root +"contact.html", rel="prefetch") Contact
