.container
	h1.title: a(href="index.html") ことむにの物置
	#nav_toggle
		div
			span
			span
			span
	nav
		ul
			li
				if title.toLowerCase() == "home"
					p Home
				else 
					a(href="index.html") Home
			li: a(href="products/") Products
			li
				if title.toLowerCase() == "activity"
					p Activity
				else
					a(href="activity.html") Activity
			li
				if title.toLowerCase() == "accounts"
					p Accounts
				else
					a(href="accounts.html") Accounts
			li: a(href="#") Contact
