.container
	h1.site_name: a(href="index.html") ことむにの物置
	#nav_toggle
		div
			span
			span
			span
	nav
		ul
			li
				if category.toLowerCase() == "home"
					p Home
				else 
					a(href= root +"index.html", rel="prefetch") Home
			li: a(href= root +"products/", rel="prefetch") Products
			li
				if category.toLowerCase() == "activity"
					p Activity
				else
					a(href= root +"activity.html", rel="prefetch") Activity
			li
				if category.toLowerCase() == "accounts"
					p Accounts
				else
					a(href= root +"accounts.html", rel="prefetch") Accounts
			li: a(href="#") Contact
