@charset "utf-8";

body {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("images/back.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*position: fixed;*/
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	-webkit-overflow-scrolling: touch;
}

.container {
	margin: 0 auto 0 auto;
	max-width: 1000px;
}
section .container {
	display: flex;
	flex-flow: column;
}

a:link, a:visited {
	color: green;
}

/* 
各パートにパディング、背景、テキスト色などを指定する
margin [上下左右]
margin [上下][左右]
margin [上][左右][下]
margin [上][右][下][左]

*/
.header-inner {
	font-size: 1.4rem;
	padding: 0px 20px;
	margin: 0 auto;
	background: rgba(210, 210, 210, 0.9);
}

.header-inner a:visited, .header-inner a:link{
	font-size: 3rem;
	text-decoration: none;
	color: black;
}

.nav-inner {
	padding: 10px 10px 0px;
	color: #fff;
	background: rgba(0, 134, 249, 0.8);
}

section .container {
	flex-flow: row;
}

main {
	flex: 1 1 auto;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 6px 3px 6px 6px;
	background: rgba(220, 220, 220, 0.85);
}

main h1, main h2, main h4{
	margin: 10px 0px 5px 10px;
}

h3 {
	background-color: rgba(150, 150, 150, 0.85);
	margin: 0;
}

p {
	margin: 5px 0;
}

ul {
	padding: 0 0 0 30px;
	margin: 0;
}

.breadcrumb ol {
	padding: 0 0 0 5px;
	margin: 5px 0 2px;
}

.breadcrumb li {
	font-size: 0.8em;
	display: inline;
}

.breadcrumb li::after {
	font-family: FontAwesome;
	content: '\f105';
	padding: 0 0 0 7px;
}

.breadcrumb li:last-child::after {
	content: none;
}

.breadcrumb a:link, .breadcrumb a:visited {
	text-decoration: none;
	color: black;
}

.post-date {
	text-align: right;
	background-color: rgba(150, 150, 150, 0.85);
}

.table_query th {
	text-align: left;
}

.article-container {
	padding: 1px;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.article-container img {
	float: left;
	width: 100px;
	height: 100px;
	padding: 0 10px 0 0;
}

.article-container a:link, .article-container a:visited{
	font-size: 1.2rem;
	text-decoration: none;
	color: blue;
}

.sidebar {
	flex: 0 0 240px;
	border-radius: 5px;
	padding: 10px;
	margin: 6px 6px 6px 3px;
	background: rgba(220, 220, 220, 0.85);
}

.sidebar h3:first-child {
	border-radius: 5px 5px 0px 0px;
}

ul.menu {
	padding: 0px 0px 0px 30px;
}

.footer-inner {
	padding: 20px 16px 10px 16px;
	background: rgba(210, 210, 210, 0.9);
}

.tag {
	background-color: #006600;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 0.75em;
	font-weight: bold;
	padding: 2px 5px;
	margin-right: 4px;
	color: white;
}

.copyright {
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.header-inner {
		font-size: 1rem;
	}
	
	.header-inner a:visited, .header-inner a:link{
		font-size: 2rem;
	}
	
	section .container {
		flex-flow: column;
	}
	
	main {
		margin: 6px 6px 3px;
	}
	
	.table_query th {
		text-indent: 20px;
		display: block;
	}
	
	.table_query td{
		display: block;
	}
	
	.sidebar {
		margin: 3px 6px 6px;
	}
	.tag {
		font-size: 0.6em;
		font-weight: normal;
	}
}
