@charset "utf-8";

body {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("images/back.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*position: fixed;*/
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	-webkit-overflow-scrolling: touch;
}

.container {
	margin: 0 auto 0 auto;
	max-width: 1000px;
}
section .container {
	display: flex;
	flex-flow: column;
}

a:link, a:visited {
	color: green;
}

/* 
各パートにパディング、背景、テキスト色などを指定する
margin [上下左右]
margin [上下][左右]
margin [上][左右][下]
margin [上][右][下][左]

*/
.header-inner {
	font-size: 1.4rem;
	padding: 0px 20px;
	margin: 0 auto;
	background: rgba(210, 210, 210, 0.9);
}

.header-inner a:visited, .header-inner a:link{
	font-size: 3rem;
	text-decoration: none;
	color: black;
}

.nav-inner {
	padding: 10px 10px 0px;
	color: #fff;
	background: rgba(0, 134, 249, 0.8);
}

main {
	padding: 20px 10px;
	margin: 6px 6px 3px;
	border-radius: 5px ;
	background: rgba(220, 220, 220, 0.85);
}

main h1 {
	margin: 5px 0px 5px;
}

h3 {
	background-color: rgba(150, 150, 150, 0.85);
	margin: 0;
}

.sidebar {
	padding: 20px 10px 20px 10px;
	margin: 3px 6px 6px;
	border-radius: 5px;
	background: rgba(220, 220, 220, 0.85);
}

.menu {
	padding: 0px 0px 0px 30px;
}

.footer-inner {
	padding: 20px 16px 10px 16px;
	background: rgba(210, 210, 210, 0.9);
}

.tag {
	background-color: #006600;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 5px;
	margin-right: 4px;
	color: white;
}

.copyright {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	section .container {
		flex-flow: row;
	}
	main {
		flex: 1 1 auto;
		margin: 6px 3px 6px 0px;
		border-radius: 0px 5px 5px 0px;
	}
	.sidebar {
		flex: 0 0 240px;
		margin: 6px 6px 6px 3px;
		border-radius: 5px;
	}
}
