@charset "utf-8";

body {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("images/back.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*position: fixed;*/
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	-webkit-overflow-scrolling: touch;
}

.container {
	margin: 0 auto 0 auto;
	max-width: 1000px;
}
section .container {
	display: flex;
	flex-flow: column;
}

a:link, a:visited {
	color: green;
}

/* 
各パートにパディング、背景、テキスト色などを指定する
*/
.header-inner {
	font-size: 1.4rem;
	padding: 10px 10px 0 10px;
	margin: 0 auto;
	background: rgba(200, 200, 200, 0.9);
}

.header-inner a:visited, .header-inner a:link{
	font-size: 3rem;
	text-decoration: none;
	color: black;
}

.nav-inner {
	padding: 10px 10px 0 10px;
	color: #fff;
	background: rgba(0, 134, 249, 0.8);
}
main {
	padding: 20px 10px 20px 10px;
	background: rgba(255, 253, 227, 0.8);
}
.sidebar {
	padding: 20px 10px 20px 10px;
	background: rgba(192, 245, 185, 0.8);
}
.footer-inner {
	padding: 20px 16px 10px 16px;
	background: rgba(186, 215, 245, 0.9);
}

.tag {
	background-color: #006600;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 5px;
	margin-right: 4px;
	color: white;
}

@media only screen and (min-width: 768px) {
	section .container {
		flex-flow: row;
	}
	main {
		flex: 1 1 auto;
	}
	.sidebar {
		flex: 0 0 340px;
	}
}

/* わかりやすくするために適用しているCSS */
main p:last-child {
	margin-bottom: 0;
}
.main-title {
	margin: 0;
}
.copyright {
	margin: 0;
}
