extends ../modules/_layout.pug

block content
	article.animtest
		h2.page_subtitle #{title}
		.page_inner
			.content
				a.service_link.test(href="#")
					span.anim
					.icon.fab.fa-twitter
				p Test