extends ../modules/_layout.pug

block content
	article.change
		h2.page_subtitle #{title}
		.page_inner
			button(type='button') 席替え開始
			table
				- for (var i = 0; i < 6; i++)
					tr
						- for (var r = 0; r < 9; r++)
							td(id=i+"_"+r)
