extends ../modules/_layout.pug

block content
    article.products
        h2.page_subtitle #{title}
        .page_inner
            a.content(href="rabiribi_pixelarts.html")
                .inner
                    .image_wrap
                        img(src="../images/rabiribi_pixelart.png", alt="ラビリビのドット絵Gif")
                    h3.title Rabi-Ribi ドット絵Gif
                    p.description "Rabi-Ribi"からトレースしたドット絵キャラ達をまとめたページです。
            a.content(href="scp_animation.html", target="_blank")
                .inner
                    .image_wrap
                        img(src="../images/scp_animation.png", alt="SCP CSS Animation")
                    h3.title SCP CSS Animation
                    p.description CSS Animationの練習として制作中。
            a.content(href="animation_test.html")
                .inner
                    .image_wrap
                        img(src="../images/sample.png", alt="画像がないので")
                    h3.title CSS Animationの雑記帳
                    p.description 思いついたアニメーションとかをまとめるページ
            - for(var i = 0; i < 9; i++)
                a.content(href="#")
                    .inner
                        .image_wrap
                            img(src="../images/sample.png", alt="さんぷる")
                        h3.title タイトル
                        p.description ここに説明、ほげほげほげ、ふがふがふが、にゃんにゃんにゃん、わんわんわん、テキストてきすとテキストてきすとテラリアてきすとテキスト