extends ../modules/_layout.pug

block content
	article.rabiribi
		h2 #{title}
		.inner
			ul.charalist
				li
					span.cocoa
					| Cocoa
				li
					span.irisu 
					| Irisu
				li
					span.vanilla 
					| Vanilla
				li
					span.chocolate 
					| Chocolate
				li
					span.cicini 
					| Cicini
				li
					span.pandora 
					| Pandora
				li
					span.lilith 
					| Lilith