<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title テストページ
		link(rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css")
		link(rel="stylesheet" href="../stylesheets/rapisato.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
	body
		main.root
			.container
				h1.page_title ラッピーの里
				article.members
					h2.page_subtitle メンバーズ
					.member
						img.chara(src="../images/kotrappi2.png", alt="ことむー")
						.stats
							.player
								span.name ことむー
								span.role Webサイト管理者(コモンメンバー)
							span.about こんにちは，ことむーです。ぷよぐやみんぐしたり音ゲーしたりしてる鳥です。
							.links
								a.fab.fa-twitter.twitter(href="https://twitter.com/intent/user?user_id=2277744186")