extends modules/_layout.pug

block content
	article.accounts
		h2.page_subtitle #{title}
		.page_inner
			.content
				a.service_link.twitter(href="https://twitter.com/intent/user?user_id=2277744186", title="@rabikotmw", target="_blank")
					//- span.anim
					.icon.fab.fa-twitter
				p rabikotmw
			.content
				a.service_link.github(href="https://github.com/kotmw0701", title="Kotmw", target="_blank")
					//- span.anim
					.icon.fab.fa-github
				p kotmw0701
			.content
				a.service_link.youtube(href="https://www.youtube.com/channel/UCYSFdfZodBMbAKZ5BYRt75w", title="ことむー", target="_blank")
					//- span.anim
					.icon.fab.fa-youtube
				p ことむー
			.content
				a.service_link.steam(href="https://steamcommunity.com/id/kotmw/", title="RabiCat_kotmw", target="_blank")
					//- span.anim
					.icon.fab.fa-steam
				p RabiCat_kotmw
			.content
				a.service_link.amazon(href="http://amzn.asia/fBOCxUE", title="干し芋のリスト", target="_blank")
					//- span.anim
					.icon.fab.fa-amazon
				p 干し芋のリスト
			.content
				span.discord
					.icon.fab.fa-discord
				p ことむー#9172
		h2.page_subtitle 寄付
		.page_inner
			img.kyash_qr(src="../images/qrcode.png", alt="KyashのQRコード")
	article.tweets
		h2.page_subtitle つぶやき
		.page_inner
			a.twitter-timeline(href="https://twitter.com/rabikotmw?ref_src=twsrc%5Etfw" data-width="500" data-height="500" data-chrome="noheader noborders nofooter")
				| Tweets by rabikotmw
			script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

