extends modules/_layout.pug

block content
	article.accounts
		h2.page_subtitle #{title}
		.page_inner
			.servicelogo.twitter
				a.service_link(href="https://twitter.com/intent/user?user_id=2277744186", title="@rabikotmw", target="_blank")
					.icon.fab.fa-twitter
				p rabikotmw
			.servicelogo.github
				a.service_link(href="https://github.com/kotmw0701", title="Kotmw", target="_blank")
					.icon.fab.fa-github
				p kotmw0701
			.servicelogo.youtube
				a.service_link(href="https://www.youtube.com/channel/UCYSFdfZodBMbAKZ5BYRt75w", title="ことむー", target="_blank")
					.icon.fab.fa-youtube
				p ことむー
			.servicelogo.steam
				a.service_link(href="https://steamcommunity.com/id/kotmw/", title="RabiCat_kotmw", target="_blank")
					.icon.fab.fa-steam
				p RabiCat_kotmw
			.servicelogo.amazon
				a.service_link(href="http://amzn.asia/fBOCxUE", title="干し芋のリスト", target="_blank")
					.icon.fab.fa-amazon
				p 干し芋のリスト
			.servicelogo.discord
				span
					.icon.fab.fa-discord
				p ことむー#9172
		h2.page_subtitle 寄付
		.page_inner
			img.kyash_qr(src="../images/qrcode.png", alt="KyashのQRコード")
