extends modules/_layout.pug

block content
	article.accounts
		h2 アカウント
		.inner
			.servicelogo.twitter
				a(href="https://twitter.com/intent/user?user_id=2277744186", title="@rabikotmw", target="_blank")
					.fab.fa-twitter
				p rabitkomw
			.servicelogo.github
				a(href="https://github.com/kotmw0701", title="Kotmw", target="_blank")
					.fab.fa-github
				p kotmw0701
			.servicelogo.youtube
				a(href="https://www.youtube.com/channel/UCYSFdfZodBMbAKZ5BYRt75w", title="ことむー", target="_blank")
					.fab.fa-youtube
				p ことむー
			.servicelogo.steam
				a(href="https://steamcommunity.com/id/kotmw/", title="RabiCat_kotmw", target="_blank")
					.fab.fa-steam
				p RabiCat_kotmw
			.servicelogo.amazon
				a(href="http://amzn.asia/fBOCxUE", title="干し芋のリスト", target="_blank")
					.fab.fa-amazon
				p 干し芋のリスト
			.servicelogo.discord
				span
					.fab.fa-discord
				p ことむー#9172
