extends modules/_layout.pug

block content
    article.contact
        h2.page_subtitle #{title}
        .page_inner
            .wrapper
                iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe5VJ0sBhHZBinuJVx52k2F3ys0q_H2MzZWKhQ2Nf9MJgmsfQ/viewform?embedded=true" width="640" height="825" frameborder="0" marginheight="0" marginwidth="0") 読み込んでいます...