extends modules/_layout.pug

block content
    article.contact
        h2.page_subtitle #{title}
        .page_inner
            form(action="https://docs.google.com/forms/d/e/1FAIpQLSe5VJ0sBhHZBinuJVx52k2F3ys0q_H2MzZWKhQ2Nf9MJgmsfQ/formResponse")
                .datas
                    input(id="email" type="text" name="emailAddress" placeholder="example@email.com" required)
                    input(id="name" type="text" name="entry.945318792" placeholder="お名前" required)
                    input(id="title" type="text" name="entry.1114566897" placeholder="件名" required)
                    textarea(id="message" name="entry.1568975502" placeholder="お問い合わせ内容" required)
                button(type="submit" name="button" value="送信") 送信