extends modules/_layout.pug

block content
	article.profile
		h2.subtitle プロフィール
		.page_inner 
			dl.profile_content
				.profile_row
					dt 名前(HN)
					dd ことむー
				.profile_row
					dt 名前(呼び名)
					dd ことさん
					dd ことむに
					dd むにむに
					dd むにえる
				.profile_row
					dt 誕生日
					dd ７月１日
				.profile_row
					dt 趣味
					dd 音ゲー
					dd プログラミング
				.profile_row
					dt 好物
					dd ドライパイン
				.profile_row
					dt 好きな言語
					dd Java
					dd C#
					dd TypeScript (勉強中)
					dd Pug (勉強中)
		h2.subtitle ひとこと
		.page_inner
			p こんにちは，ことむーです。
				br
				| ぷよぐやみんぐしたり音ゲーしたりしてる鳥です。
				br
				| 大体Twitterに居るので気軽に声掛けてください，集中してるときは反応無かったりするのでちょっと待ってもらえればその日のうちに反応はします。
				br
				| ケモいの好きなのでそういうの投げてくれれば基本飛びつきます。
				br
				| 人によって好き嫌い激しい面倒な性格してますがよろしくお願いします。
	article.tweets
		h2 つぶやき
		.page_inner
			a.twitter-timeline(href="https://twitter.com/rabikotmw?ref_src=twsrc%5Etfw" data-width="500" data-height="500" data-chrome="noheader noborders nofooter")
				| Tweets by rabikotmw
			script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

