@charset "utf-8";

@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");

.page_inner {
	width: 100%;
	height: 400px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.sample {
	font-family: "Nico Moji";
	font-size: 50px;
	animation: mainichi 1s cubic-bezier(0.175, 0.885, 0.740, 1.195);
}

@keyframes mainichi {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}