@charset "utf-8";

table {
	width: 100%;

	border-collapse: collapse;
	border: solid 1px black;
}

tr {
	height: 50px;
}

td {
	border: solid 1px black;
	text-align: center;
}

.active {
	opacity: 0;
	animation: show 1s linear forwards;
}

@keyframes show {
	100% {
		opacity: 1;
	}
}