.profile dl {
	width: 50%;
	border-top: solid gray 1px;
}

.profile dt {
	float: left;
	width: 50%;
}

.profile dd {
	margin-left: 50%;
	padding-left: 0.4em;
	border-left: solid gray 1px;
}

.profile_row {
	border-bottom: solid gray 1px;
	padding: 5px;
}

.main__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50vh;
}

.main__announce, .main__description {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 500px) {
	
	.profile dl {
		width: 100%;
	}
}