#imagebox {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-weight: bold;
}
.cocoa, .iris, .vanilla, .chocolate, .cicini, .pandora, .lilith {
	width: 180px;
	height: 210px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.cocoa {
	background-image: url("../images/cocoa.gif");
}

.cocoa:hover {
	background-image: url("../images/cocoa_run.gif");
}

.iris {
	background-image: url("../images/iris.gif");
}

.iris:hover {
	background-image: url("../images/iris_run.gif");
}

.vanilla {
	background-image: url("../images/vanilla.gif");
}

.vanilla:hover {
	/*まだ作ってないヨ*/
}

.chocolate {
	background-image: url("../images/chocolate.gif");
}

.chocolate:hover {
	/*まだ作ってないヨ*/
}

.cicini {
	background-image: url("../images/cicini.gif");
}

.cicini:hover {
	/*まだ作ってないヨ*/
}

.pandora {
	/*まだ作ってないヨ*/
}

.pandora:hover {
	/*まだ作ってないヨ*/
}

.lilith {
	/*まだ作ってないヨ*/
}

.lilith:hover {
	/*まだ作ってないヨ*/
}