@charset "utf-8";

html {
	color: white;
}

body {
	background-color: #a05000;	
}

body:before {
	opacity: 0.7;
}

a:link, a:visited {
	color: gold;
}

h3 {
	background-color: rgb(25, 25, 25);
}

/* ヘッダー */

.header-inner {
	background-color: rgb(50, 50, 50);
}

.header-inner a:visited, .header-inner a:link{
	color: white;
}

/* メイン */

main {
	background-color: rgb(40, 40, 40);
}

.post-date {
	background-color: rgb(25, 25, 25);
}

.noimg {
	filter: invert(80%);
}

.article-container a:link, .article-container a:visited {
	color: orange;
}

.breadcrumb a:link, .breadcrumb a:visited {
	color: white;
}

.tag {
	background-color: chocolate;
	color: white;
}

.quote {
    color: #464646;
    background: #f3f3f3;
    border-left-color: #c4c4c4;
}

.quote:before {
    color: #FFF;
}

.quote cite {
    color: #888888;
}

/* サイドバー */

#sidebar {
	background-color: rgb(40, 40, 40);
}

.menu li:before {
	color: white;
}

/* フッター */

.footer-inner {
	background-color: rgb(50, 50, 50);
}
