.page_inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inner {
    padding-top: 10px;
    background-color: #eee;
    min-height: 350px;
}

.content {
    display: block;
    color: black;
    text-decoration: none;
    margin: .75em 2em;
    width: 300px;
}

/* transformの後にﾋﾟｸｯって動くことがあるのでそれの対処 */
.content:hover img {
    transform: scale(1.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.image_wrap {
    margin: 0 10px;
    flex: none;
    overflow: hidden;
    border-radius: 10px;
}

.title {
    font-size: 1em;
    margin: 10px;
}

.description {
    font-size: .9em;
    margin: 0 1em;
}

img {
    display: block;
    width: 300px;
    height: 169px;
    object-fit: cover;
    transition: transform .5s;
}


@media screen and (max-width: 700px) {
    .content {
        width: 85%;
    }
}