@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

html, body, main {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    -webkit-animation: mainback 2s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
    animation: mainback 2s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    text-align: center;
}

#background {
    height: 100%;
    width: 100%;
}

#background *:nth-child(odd) {
    height: 10vh;
    width: 100%;
}

#background *:nth-child(even) {
    height: 35%;
    width: 100%;
}

#background *::before, 
#background *::after {
    content: '';
    display: block;
    height: calc(100% + 1px);
    width: 100%;
    -webkit-animation: 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
    animation: 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(odd)::before,
#background *:nth-child(odd)::after {
    height: 0;
    border-style: solid;
    border-color: black transparent;
}

#background *:nth-child(even)::before,
#background *:nth-child(even)::after {
    background-color: black;
    border: 0 solid black;
}

#background *:nth-child(1)::before,
#background *:nth-child(5)::before {
    border-width: 10vh 10vh 0 0;
    -webkit-animation-name: back-left, bordercolor;
    animation-name: back-left, bordercolor;
}

#background *:nth-child(1)::after,
#background *:nth-child(5)::after {
    border-width: 0 0 10vh 10vh;
    -webkit-animation-name: back-right, bordercolor;
    animation-name: back-right, bordercolor;
}

#background *:nth-child(3)::before {
    border-width: 0 10vh 10vh 0;
    -webkit-animation-name: back-left, bordercolor;
    animation-name: back-left, bordercolor;
}

#background *:nth-child(3)::after {
    border-width: 10vh 0 0 10vh;
    -webkit-animation-name: back-right, bordercolor;
    animation-name: back-right, bordercolor;
}


#background *:nth-child(2)::before {
    -webkit-animation-name: back-left-a, backcolor;
    animation-name: back-left-a, backcolor;
}

/* afterだけにborder設定しないと白線が消えない */
#background *:nth-child(2)::after {
    border-width: 1px 0;
    -webkit-animation-name: back-right-a, backcolor, bordercolor;
    animation-name: back-right-a, backcolor, bordercolor;
}

#background *:nth-child(4)::before {
    -webkit-animation-name: back-left-b, backcolor;
    animation-name: back-left-b, backcolor;
}

#background *:nth-child(4)::after {
    border-width: 1px 0;
    -webkit-animation-name: back-right-b, backcolor, bordercolor;
    animation-name: back-right-b, backcolor, bordercolor;
}

.container {
    /* background-color: #333; */
    margin: 0 auto;
    width: 150vmin;
    height: 150vmin;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background-color: black;
    -webkit-animation: over 1s linear 7s normal;
    animation: over 1s linear 7s normal;
}

.scp_foundation {
    /* background-color: #222; */
    width: 80vmin;
    height: 80vmin;
    /* animation: rising 1s ease 8.5s normal forwards; */
}

.scp {
    /* background-color: #8777; */
    opacity: 0;
    bottom: 23% !important;
    width: 60%;
    height: 50%;
    fill: white;
    -webkit-animation: scp 1s ease 6s 1 alternate forwards;
    animation: scp 1s ease 6s 1 alternate forwards;
}

.scpfull {
    /* background-color: #8666; */
    top: 23% !important;
    width: 90%;
    height: 15%;
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    -webkit-animation: dash 3s ease-out 5s 1 normal forwards;
    animation: dash 3s ease-out 5s 1 normal forwards;
}

.title {
    text-align: center;
    width: 80%;
    height: 40%;
}

.title > * {
    font-family: 'Nanum Pen Script', cursive;
    margin: 0;
    opacity: 0;
}

.title .no {
    color: black;
    font-size: 15vmin;
    -webkit-animation: SCP132JPDelay 3s ease 8.5s 1 normal;
    animation: SCP132JPDelay 3s ease 8.5s 1 normal;
}

.title .oc {
    color: black;
    font-size: 12vmin;
    -webkit-animation: SCP132JPDelay 3s ease 8.5s 1 normal;
    animation: SCP132JPDelay 3s ease 8.5s 1 normal;
}

.paper {
    z-index: inherit;
    width: 70vmin;
    height: calc(70vmin * 1.414);
    background-color: white;
    -webkit-animation: paperFall 2s cubic-bezier(0.350, 0.715, 0.480, 1.155) 8s 1 normal backwards;
    animation: paperFall 2s cubic-bezier(0.350, 0.715, 0.480, 1.155) 8s 1 normal backwards;
}

.lines:not(:last-child) {
    display: block;
    height: calc(calc(70vmin * 1.414) / 30);
    width: 90%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 1px black;
}

.container > div, .scp_foundation > svg, .logo > svg, .logo, .title, .paper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

@-webkit-keyframes scp {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 37%;
    }
}

@keyframes scp {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 37%;
    }
}

@-webkit-keyframes dash {
    80% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-width: 0;
        fill: white;
    }
}

@keyframes dash {
    80% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-width: 0;
        fill: white;
    }
}

/* @keyframes rising {
    100% {
        bottom: 50%;
    }
} */

@-webkit-keyframes back-left {
    0% { -webkit-transform: translateX(calc(-100vw - 10vh)); transform: translateX(calc(-100vw - 10vh)); }
    100% { -webkit-transform: translateX(calc(-49.9vw - calc(10vh / 2))); transform: translateX(calc(-49.9vw - calc(10vh / 2))); }
}

@keyframes back-left {
    0% { -webkit-transform: translateX(calc(-100vw - 10vh)); transform: translateX(calc(-100vw - 10vh)); }
    100% { -webkit-transform: translateX(calc(-49.9vw - calc(10vh / 2))); transform: translateX(calc(-49.9vw - calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@-webkit-keyframes back-right {
    0% { -webkit-transform: translateX(100vw) translateY(-100%); transform: translateX(100vw) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); }
}
@keyframes back-right {
    0% { -webkit-transform: translateX(100vw) translateY(-100%); transform: translateX(100vw) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); }
}

@-webkit-keyframes back-left-a {
    0% { -webkit-transform: translateX(calc(-100vw - 10vh)); transform: translateX(calc(-100vw - 10vh)); }
    100% { -webkit-transform: translateX(calc(-50vw - calc(10vh / 2))); transform: translateX(calc(-50vw - calc(10vh / 2))); }
}

@keyframes back-left-a {
    0% { -webkit-transform: translateX(calc(-100vw - 10vh)); transform: translateX(calc(-100vw - 10vh)); }
    100% { -webkit-transform: translateX(calc(-50vw - calc(10vh / 2))); transform: translateX(calc(-50vw - calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@-webkit-keyframes back-right-a {
    0% { -webkit-transform: translateX(100vw) translateY(-100%); transform: translateX(100vw) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); }
}
@keyframes back-right-a {
    0% { -webkit-transform: translateX(100vw) translateY(-100%); transform: translateX(100vw) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); }
}

@-webkit-keyframes back-left-b {
    0% { -webkit-transform: translateX(-100vw); transform: translateX(-100vw); }
    100% { -webkit-transform: translateX(calc(-50vw + calc(10vh / 2))); transform: translateX(calc(-50vw + calc(10vh / 2))); }
}

@keyframes back-left-b {
    0% { -webkit-transform: translateX(-100vw); transform: translateX(-100vw); }
    100% { -webkit-transform: translateX(calc(-50vw + calc(10vh / 2))); transform: translateX(calc(-50vw + calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@-webkit-keyframes back-right-b {
    0% { -webkit-transform: translateX(calc(100vw + 10vh)) translateY(-100%); transform: translateX(calc(100vw + 10vh)) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw + calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw + calc(10vh / 2))) translateY(-100%); }
}
@keyframes back-right-b {
    0% { -webkit-transform: translateX(calc(100vw + 10vh)) translateY(-100%); transform: translateX(calc(100vw + 10vh)) translateY(-100%); }
    100% { -webkit-transform: translateX(calc(49.9vw + calc(10vh / 2))) translateY(-100%); transform: translateX(calc(49.9vw + calc(10vh / 2))) translateY(-100%); }
}

@-webkit-keyframes bordercolor {
    0% { border-color: #888 transparent; }
    100% { border-color: black transparent; }
}

@keyframes bordercolor {
    0% { border-color: #888 transparent; }
    100% { border-color: black transparent; }
}

@-webkit-keyframes backcolor {
    0% { background-color: #888; }
    100% { background-color: black; }
}

@keyframes backcolor {
    0% { background-color: #888; }
    100% { background-color: black; }
}

@-webkit-keyframes mainback {
    60% { background-color: white; }
    100% { background-color: black; }
}

@keyframes mainback {
    60% { background-color: white; }
    100% { background-color: black; }
}

@-webkit-keyframes over {
    100% {
        height: 100%;
    }
}

@keyframes over {
    100% {
        height: 100%;
    }
}

@-webkit-keyframes SCP132JPDelay {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes SCP132JPDelay {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes paperFall {
    0% {
        bottom: 200%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes paperFall {
    0% {
        bottom: 200%;
    }
    100% {
        bottom: 0;
    }
}