@charset "utf-8";

.logo {
    /* background-color: #8888; */
    bottom: 20%;
    width: 40%;
    height: 40%;
    animation: logoMove 1s ease 2500ms 1 alternate forwards;
}

.logo_out {
    width: 100%;
    height: 100%;
    fill: white;
    animation: logo_out 2500ms ease-out 0s 1 normal none;
}

.logo_in {
    width: 100%;
    height: 100%;
    fill: white;
    animation: logo_in 2500ms ease-out 0s 1 normal none;
}
@keyframes logo_out {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo_in {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes logoMove {
    0% {
        right: 0;
    }
    100% {
        right: 55%;
    }
}

@media screen and (max-width: 480px) {

}
/* 
.circle {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.circle2 {
    background-color: black;
    width: 236px;
    height: 236px;
    border-radius: 50%;
}

.circle3 {
    width: 135px;
    height: 135px;
    border: 16px solid white;
    border-radius: 50%;
}

.trape {
    width: 200px;
    height: 278px;
}


.btrape {
    margin: 0 -2px;
    width: 72px;
    height: 6px;
    border-bottom: 40px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.trapeInner {
    margin: 0 auto;
    width: 85px;
    height: 0px;
    border-bottom: 40px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.trape1 {
    animation: trapeani1 2500ms ease-out 0s 1 normal none;
}

.trape2 {
    transform: rotate(120deg);
    animation: trapeani2 2500ms ease-out 0s 1 normal none;
}

.trape3 {
    transform: rotate(240deg);
    animation: trapeani3 2500ms ease-out 0s 1 normal none;
}

.allow {
    width: 100px;
    height: 193px;
} 

.allowInner {
    margin: -1px auto 0;
    width: 0;
    height: 0;
    border-top: 32px solid white;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
}

.allowStick {
    margin: 0 auto;
    width: 10px;
    height: 59px;
    background-color: white;
}

.allow1 {
    animation: allowani1 2500ms ease-out 0s 1 normal none;
}

.allow2 {
    transform: rotate(120deg);
    animation: allowani2 2500ms ease-out 0s 1 normal none;
}

.allow3 {
    transform: rotate(240deg);
    animation: allowani3 2500ms ease-out 0s 1 normal forwards;
}

@keyframes trapeani1 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes trapeani2 {
    100% {
        transform: rotate(480deg);
    }
}

@keyframes trapeani3 {
    100% {
        transform: rotate(600deg);
    }
}

@keyframes allowani1 {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes allowani2 {
    100% {
        transform: rotate(-240deg);
    }
}

@keyframes allowani3 {
    100% {
        transform: rotate(-120deg);
    }
} */
