@charset "utf-8";

html, body, main {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    text-align: center;
}

#background {
    height: 100%;
    width: 100%;
}

#background *:nth-child(odd) {
    height: 10vh;
    width: 100%;
}

#background *:nth-child(even) {
    height: 35%;
    width: 100%;
}

#background *::before, 
#background *::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

#background *:nth-child(1)::before,
#background *:nth-child(5)::before {
    height: 0;
    border-top: solid 10vh black;
    border-right: solid 10vh transparent;
    animation: back-left 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(1)::after,
#background *:nth-child(5)::after {
    height: 0;
    border-bottom: solid 10vh black;
    border-left: solid 10vh transparent;
    animation: back-right 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(3)::before {
    height: 0;
    border-bottom: solid 10vh black;
    border-right: solid 10vh transparent;
    animation: back-left 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(3)::after {
    height: 0;
    border-top: solid 10vh black;
    border-left: solid 10vh transparent;
    animation: back-right 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}


#background *:nth-child(2)::before {
    background-color: black;
    animation: back-left-a 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(2)::after {
    background-color: black;
    animation: back-right-a 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(4)::before {
    background-color: black;
    animation: back-left-b 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

#background *:nth-child(4)::after {
    background-color: black;
    animation: back-right-b 1.5s cubic-bezier(0.22, 0.82, 0.62, 0.88) 1.5s 1 both;
}

.container {
    /* background-color: #333; */
    margin: 0 auto;
    width: 150vmin;
    height: 150vmin;
}

.scp_foundation {
    /* background-color: #222; */
    width: 80vmin;
    height: 80vmin;
    animation: rising 1s ease 8.5s normal forwards;
}

.SCP132JP {
    color: white;
}

.scp {
    /* background-color: #8777; */
    opacity: 0;
    bottom: 20% !important;
    width: 55%;
    height: 45%;
    fill: white;
    animation: scp 1s ease 6s 1 alternate forwards;
}

.scpfull {
    /* background-color: #8666; */
    top: 23% !important;
    width: 90%;
    height: 15%;
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    animation: dash 3s ease-out 5s 1 normal forwards;
}

/* .welcome {
    width: 100%;
    height: 10%;
    text-align: center;
}

.welcome > span {
    opacity: 0;
    color: white;
    font-size: 2em;
    font-weight: bold;
    animation: welcome 10s step-start 1 forwards;
}

.welcome > span:nth-child(1) {
    animation-delay: 6200ms;
}
.welcome > span:nth-child(2) {
    animation-delay: 6400ms;
}
.welcome > span:nth-child(3) {
    animation-delay: 6600ms;
}
.welcome > span:nth-child(4) {
    animation-delay: 6800ms;
}
.welcome > span:nth-child(5) {
    animation-delay: 7000ms;
}
.welcome > span:nth-child(6) {
    animation-delay: 7500ms;
}
.welcome > span:nth-child(7) {
    animation-delay: 7700ms;
}
.welcome > span:nth-child(8) {
    animation-delay: 7900ms;
}
.welcome > span:nth-child(9) {
    animation-delay: 8100ms;
}
.welcome > span:nth-child(10) {
    animation-delay: 8300ms;
} */


.container > div, .scp_foundation > svg, .logo > svg, .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* .foundation {
    opacity: 0;
    width: 25%;
    height: 25%;
    background: url("Foundation.png") no-repeat;
    background-size: contain;
    animation: foundation 1s ease 3s 1 alternate forwards;
} */

@keyframes scp {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 37%;
    }
}

@keyframes dash {
    80% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-width: 0;
        fill: white;
    }
}

@keyframes rising {
    100% {
        bottom: 50%;
    }
}

@keyframes back-left {
    0% { transform: translateX(calc(-100vw - 10vh)); }
    100% { transform: translateX(calc(-49.9vw - calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@keyframes back-right {
    0% { transform: translateX(100vw) translateY(-100%); }
    100% { transform: translateX(calc(49.9vw - calc(10vh / 2))) translateY(-100%); }
}

@keyframes back-left-a {
    0% { transform: translateX(calc(-100% - 10vh)); }
    100% { transform: translateX(calc(-50% - calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@keyframes back-right-a {
    0% { transform: translateX(100%) translateY(-100%); }
    100% { transform: translateX(calc(49.9% - calc(10vh / 2))) translateY(-100%); }
}

@keyframes back-left-b {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(calc(-50% + calc(10vh / 2))); }
}
/* translateY(-100%)をすると，上にかぶさってくるから */
@keyframes back-right-b {
    0% { transform: translateX(calc(100% + 10vh)) translateY(-100%); }
    100% { transform: translateX(calc(49.9% + calc(10vh / 2))) translateY(-100%); }
}

/* @keyframes welcome {
    100% {
        opacity: 1;
    }
} */