@charset "utf-8";

html, body, .container {
    margin: 0;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    background-color: black;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    text-align: center;
}

.container > div, .logo > div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.SCP132JP {
    color: white;
}

.foundation {
    opacity: 0;
    width: 25%;
    height: 25%;
    background: url("Foundation.png") no-repeat;
    background-size: contain;
    animation: foundation 1s ease 3s 1 alternate forwards;
}

@keyframes foundation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 25%;
    }
}