.container
	h1.title: a(href="index.html") ことむにの物置
	#nav_toggle
		div
			span
			span
			span
	nav
		ul
			li: a(href="index.html") Home
			li: a(href="products/") Products
			li: a(href="activity.html") Activity
			li: a(href="accounts.html") Accounts
			li: a(href="#") Contact
