@charset "utf-8";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* h1 {
    margin: 0;
} */

body {
    background-color: rgba(255, 215, 215, 0.5);
}

#intro {
    background-color: #aad5ff;
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

#intro > svg {
    position: absolute;
}

.star {
    height: 10%;
    width: 10%;
}

.back {
    height: 100vh;
    width: auto;
    transform: scale(1, -1);
}

#intro > .back:nth-child(1) {
    top: -30vh;
    fill: #0080ff;
}

#intro > .back:nth-child(2) {
    top: -40vh;
    right: -25vh;
    fill: #006ad5;
}

#intro > .back:nth-child(3) {
    top: -50vh;
    right: -40vh;
    fill: #0055aa;
}

@keyframes back1 {
    0% {

    }
    100% {

    }
}

@keyframes back2 {
    
}

@keyframes back3 {
    
}