
html {
	font-family: 'Titillium Web';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', 'M PLUS Rounded 1c';
}

/* header */

header {
	background-color: lightskyblue;
	display: flex;
	padding-left: 1em;
}

header h2 {
	font-size: 1.2em;
	padding-left: 1em;
}

header a {
	color: black;
	text-decoration: none;
}

/* nav */
nav {
	display: flex;
	margin: 0 1em 0 auto;
	font-size: 1.3em;
}

nav a {
	display: block;
	font-weight: bold;
	text-align: center;
	min-width: 110px;
	line-height: 45px;
	margin: 0 0.5em;
	border-bottom: solid transparent 5px;
	transition: border-bottom .5s ease;
}

nav a:hover {
	border-bottom: solid gray 5px;
}

/* main */

main {
	background-color: lightsalmon;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}

.profile {
	width: 40%;
	border-bottom: solid gray 1px;
}

.profile dt {
	float: left;
	width: 50%;
}

.profile dd {
	padding-left: 50%;
}

.profile dt + dd {
	border-top: solid gray 1px;
}

/* footer */

footer {
	background-color: lightgoldenrodyellow;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 1.2em;
}

/* font / animation */