@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c);


html, body{
	height: 100%;
	width: 100%;
	font-family: 'Titillium Web', "游ゴシック体", "Yu Gothic", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', 'M PLUS Rounded 1c';
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* header */

header {
	background-color: black;
	color: white;
}


header .container{
	flex: none;
	display: flex;
	width: 90%;
	margin: 0 auto;
	align-items: center;
}

header a {
	color: inherit;
	text-decoration: none;
}

.title a {
	display: inline-block;
	line-height: 55px;
}

/* nav */

nav {
	margin-left: auto;
}

nav ul{
	display: flex;
	font-size: 1.3em;
	list-style: none;
}

nav a, nav p {
	display: block;
	font-weight: bold;
	text-align: center;
	min-width: 110px;
	min-height: 50px;
	line-height: 50px;
	margin: 0 0.5em;
}

nav a {
	border-bottom: solid transparent 5px;
	transition: border-bottom .3s linear;
}

nav p, nav a:hover {
	border-bottom: solid white 5px;
}

#nav_toggle {
	display: none;
}

/* main */

main {
	flex: 1;
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

main h1 {
	background: bisque;
	font-size: 1.4em;
	color: #474747;
	border-radius: 10px;
	padding: 0 0 0 .5em;
}

main h2 {
	font-size: 1.2em;
	border-bottom: solid orange 3px;
	line-height: 2em;
}

main .container {
	background-color: antiquewhite;
	border-radius: 10px;
	margin: 20px 0;
}

/* メモ: marginが適用されないから一時的にpaddingで枠取りします */
section {
	padding: 1em;
}

.profile dl {
	margin: 1em 0;
	width: 50%;
	border-bottom: solid gray 1px;
}

.profile dt {
	float: left;
	width: 50%;
}

.profile dd {
	padding-left: 50%;
}

.profile dt + dd {
	border-top: solid gray 1px;
}

/* footer */

footer {
	background-color: lightgray;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 1.2em;
}

/* font / animation */

/* media query */

@media screen and (max-width: 1100px) {
	nav {
		display: none;
		position: absolute;
		top: 55px;
		width: 100%;
		background: #006598;
		left: 0;
	}

	nav ul {
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	nav li {
		margin: 0 auto;
		text-align: center;
	}

	#nav_toggle {
		display: block;
		position: relative;
		top: 6px;
		z-index: 100;
		margin-left: auto;
	}
	#nav_toggle div {
		width: 40px;
		height: 40px;
		position: relative;
	}
	#nav_toggle span{
		display: block;
		height: 3px;
		background: #fff;
		position:absolute;
		width: 100%;
		left: 0;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;	
	}
	#nav_toggle span:nth-child(1){
		top:0px;
	}
	#nav_toggle span:nth-child(2){
		top:12px;
	}
	#nav_toggle span:nth-child(3){
		top:24px;
	}

	.open #nav_toggle span:nth-child(1) {
		top: 12px;
	    -webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.open #nav_toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav_toggle span:nth-child(3) {
		top: 12px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
}

@media screen and (max-width: 500px) {
	
	.profile dl {
		width: 100%;
	}
}